* {
    margin: 0px;
    padding: 0px;
}

html {
    /* min-height: 100vh; */
}

body {
    /* height: 100%; */
    padding: 39px 94px 0px 87px;
    background-image: linear-gradient(45deg, #F4ECE1, #FCFBF7);
    font-family: "Poppins", sans-serif;
}

/* utility classes */
.position-relative {
    position: relative;
}

.flex {
    display: flex;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}


/* ----------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav span {
    margin-right: 56px;
}

header nav span:last-of-type {
    margin-right: 0px;
}

header .wrapper {
    display: flex;
    align-items: center;
    gap: 160px;
}

header .wrapper #searchbar {
    background-color: #FFF9F0;
    width: 314px;
    height: 60px;
    background: rgba(255, 249, 240, 0.1);
    box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border-color: transparent;
}

header #logo {
    display: flex;
    gap: 4px;
    align-items: baseline;
}

header h3 {
    font-size: 32px;
    font-weight: 600;
}

header .wrapper span {
    display: inline-block;
}

header .wrapper #placeholder {
    position: absolute;
    top: 21px;
    left: 41px;
}

header .wrapper #seperator {
    width: 45px;
    height: 0px;
    position: absolute;
    top: 30px;
    right: 62px;
    border: 1px solid rgba(148, 140, 140, 0.31);
    transform: rotate(90deg);
}

header .wrapper #cart {
    position: absolute;
    top: 21px;
    right: 45px;
}

header .wrapper #cart-count {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 28px;
    top: 8px;
    background: #EC2633;
    font-size: 10px;
    color: #ffffff;
    box-shadow: 0px 2px 23px 1px rgba(255, 51, 52, 0.72);
}

section {
    margin-top: 41px;
}

section #first-section {
    flex-grow: 1;
}

section #first-section h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 125px;
    line-height: 94.8%;
    letter-spacing: -0.035em;
    color: #FF7E00;
}

section #first-section #text-grey h4 {
    font-weight: 700;
    font-size: 52px;
    line-height: 94.8%;
    color: #2F2F2F;
}

section #first-section p {
    font-weight: 400;
    font-size: 22px;
    line-height: 138.8%;
    color: #909090;
    margin-block: 24px 44px;
}

section #first-section button:first-of-type {
    width: 188px;
    height: 70px;
    background: #2F2F2F;
    box-shadow: 0px 20px 32px -8px rgba(0, 0, 0, 0.2);
    border-radius: 84px;
    font-weight: 600;
    font-size: 20px;
    line-height: 94.8%;
    color: #F4ECE1;
    margin-right: 28px;
    border: 0px;
}


section #first-section button:nth-of-type(2) {
    font-weight: 600;
    font-size: 20px;
    line-height: 94.8%;
    color: #2F2F2F;
    border: none;
    background-color: transparent;
    height: 57px;
    display: flex;
    gap: 11px;
    align-items: center;
}

section #second-section {
    width: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section #second-section img {
    display: block;
    width: 100%;
    margin: auto;
    max-width: 700px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF8F0;
    width: 57px;
    height: 57px;
    border-radius: 50%;
}